<footer class="py-12 text-sm leading-6 bg-amber-300 font-semibold">
  <div class="max-w-7xl mx-auto divide-y divide-red-800 px-4 sm:px-6 md:px-8">
    <div class="flex color-teamred">
      <div class="flex-wrap flex-1 lg:flex">
        <div class="">
          <img class="" src="/full-red-cgw-logosvg.png" alt="" width="200px" />
        </div>
      </div>
      <div class="flex-wrap lg:flex align-bottom">
        <div class="">
          <p>
            <strong>Contact Us</strong><br /><br />
            <strong>Cougars Gone Wired - Team</strong><br />
            cougars.gonewired@gmail.com<br /><br />

            <strong>Bryce McLean - Head Coach</strong><br />
            bryce.mclean@d11.org
          </p>
        </div>
        <div class="pl-10">
          <p>
            <strong>Address</strong><br /><br />
            Coronado High School<br /><br />

            1590 W. Fillmore Colorado Springs, CO 80904
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8 flex flex-col lg:flex-row text-center">
      <div class="pt-8 mx-auto lg:mx-0 max-w-2xl color-teamred">
        <p>
          © Copyright {new Date().getFullYear()} Cougars Gone Wired - All Rights
          Reserved FIRST® and FIRST® Robotics Competitions are registered trademarks
          of United States Foundation for Inspiration and Recognition of Science
          and Technology, 200 Bedford Street Manchester New Hampshire 03101
        </p>
      </div>
      <div class="pt-10"></div>
    </div>
  </div>
</footer>
